@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(otherBG.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.logo {
  width: 190px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  height: 8px;
  width: 0%;
  background: #d18f0a;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.navbar ul li:hover::after {
  width: 100%;
}

ul li ul.dropdown li {
  display: block;
  margin: 30px;
  
}

ul li ul.dropdown {
  width: 100%;
  position: absolute;
  z-index: 999;
  display: none;
  
}

ul li:hover ul.dropdown {
  display: block;
  
  
}

.welcome {
  text-decoration: none;
  color: #ffff;
  text-transform: uppercase;
  cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}



.del {
    width: 65px;
    padding: 5px 0;
    text-align: center;
    
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d18f0a;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.del a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.pay {
  width: 160px;
  padding: 5px 0;
  text-align: center;
  
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #d18f0a;
  background: transparent;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.pay a {
text-decoration: none;
color: black;
text-transform: uppercase;
}

.tablesbook {
  margin-top: 100px;
}

table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}

thead th {
  font-weight: 600;
  color: #333;
}

table tr {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

tbody tr:hover {
  background: #774c08;
  color: #FFF;
}

table tbody tr:last-child {
  border-bottom: none;
}

th {
  padding: 9px 5px;
}

.latest-bookings2 table tbody th:last-child {
  white-space: nowrap;
  width: 100px;
}

.latest-bookings2{
  width: 1500px;
  margin: auto;

}

.latest-bookings2{
  min-height: 350px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #444;
}









